@media only screen and (max-width : 1125px)

    .servises
        padding: 50px 0


.section

    &__title
        font-size: 6rem

    &__link
        padding: 15px

@media only screen and (max-width : 920px)
    .servises

        .section

            &__list
                width: 100%
                padding: 0 
                > * + *
                    margin-top: 10px
    .subscribe
        padding: 50px 0
        background-position-x: 15%

    .blog, .contacts, .gallery
        padding: 50px 0

    .section

        &__text--center
            & p
                width: 100%


@media only screen and (max-width : 830px)
    .header
        &__scroll
            bottom: 10px


    .gtc-2-1fr
        grid-template-columns: 1fr
        grid-gap: 0

    .btn
        font-size: 1.6rem

    .section

        &__time
            font-size: 1.8rem
            line-height: 1
            text-transform: uppercase
            width: auto
            height: auto
            position: absolute
            & span
                font-size: 1.8rem

        &__name
            font-size: 1.4rem
            max-height: 5.8rem

        &__img
            width: 30%

        &__contacts
            background-color: $blue-transparent
            padding: 20px
            margin-top: 30px
            color: $white

        &__caption:last-child
            margin-bottom: 0

    .servises
        .section
            &__title
                position: relative
                top: auto
                left: auto
                transform: translate(0, 0)
            &__right
                grid-row-start: 1

@media only screen and (max-width : 750px)

    .nav
        &__items
            transform: translate(0, -500%)
            display: none
            width: 15%
            text-align: right
        
        &__link
            display: inline-block
            margin: 0

        &__hamburger
            display: block

        &__logo
            svg
                height: auto


@media only screen and (max-width : 680px)
    .gtc-3-1fr, .gtc-12-1fr
        grid-template-columns: repeat(2, 1fr)
    .gtr-7-1fr
        grid-template-rows: repeat(3, 1fr)

    .col-6, .col-4, .col-8
        grid-column: span 1

    .row-2, .row-3, .row-4
        grid-row-start: span 1

@media only screen and (max-width : 550px)
    .gtc-2-1fr, .gtc-3-1fr, .gtc-12-1fr
        grid-template-columns: repeat(1, 1fr)
    .gtr-7-1fr
        grid-template-rows: repeat(3, 1fr)
    .section
        &__name 
            font-size: 3.4rem
            max-height: 12.9rem
            bottom: 12%

        &__author
            font-size: 2rem
            height: 2.7rem

        &__form
            width: 100%

        &__title
            font-size: 4rem
    .footer
        .flex
            flex-direction: column
            & * + *
                margin-top: 1rem

@media only screen and (max-width : 450px)
    .subscribe
        .flex
            flex-direction: column
            & * + *
                margin-top: 1rem

    .section
        &__email
            width: 100%

@media only screen and (max-width : 380px)

    .section
        &__name
            font-size: 2.8rem
            max-height: 10.5rem

@media only screen and (max-width : 321px)
    .section
        &__title
            font-size: 3.6rem
        &__name
            font-size: 1.8rem
            max-height: 7.6rem

    .nav
        &__items
            width: 30%
        &__close
            right: 30%
            